@import '../../../index.scss';





.addModule{

    display: inline-block;
    position: relative;

    border-radius: 50%;

    background: $green;
    color: $darkGreen;

    width: 30px;
    height: 30px;
    font-size: 23px;
    opacity: 0.5;

    &:hover{
        opacity: 1;
    }
}



.formBox{
    position: absolute;
    left: 20px;
    top: 20px;
    padding: $padding;
    background: $darkGreen;
    z-index: 1000;
}