@import '../../../index.scss';





.buttonAdd{

    display: inline-block;

    border-radius: 50%;

    background: $green;
    color: $darkGreen;

    width: 30px;
    height: 30px;
    font-size: 23px;
    opacity: 0.5;

    &:hover{
        opacity: 1;
    }
}