//  ////////////////////////////////////////////////////////////////
//  === main SCSS with variables and mixins ===   === main SCSS with variables and mixins ===   === main SCSS with variables and mixins === 
//  === main SCSS with variables and mixins ===   === main SCSS with variables and mixins ===   === main SCSS with variables and mixins === 
//  ////////////////////////////////////////////////////////////////





//  ////////////////////////////////////////////////////////////////
//  === VARIABLES ===   === VARIABLES ===   === VARIABLES === 
//  === VARIABLES ===   === VARIABLES ===   === VARIABLES === 
//  ////////////////////////////////////////////////////////////////


//// //// ////
////  COLORS 
////
$white: white;
$darkGreen: #2f3a39;
$green: #25eddb;
$black: black;



//// //// ////
////  VARIABLES 
////

$padding: 20px;



$border01: 1px solid $green;



$borderRadius01: 0.5*$padding;





//// //// ////
////  FONTS 
////







//  ////////////////////////////////////////////////////////////////
//  === MIXINS ===   === MIXINS ===   === MIXINS === 
//  === MIXINS ===   === MIXINS ===   === MIXINS === 
//  ////////////////////////////////////////////////////////////////
